@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

:root {
    --white: #FFFFFF;
    --lighten: #F5F5F5;
    --darken: #333333;
    --link: #6A26CD;
    --shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--white);
    color: var(--darken);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--darken);
    transition: color 0.15s;
}

a:hover {
    color: var(--link);
}

.container {
    padding: 0 16px;
    max-width: 1300px;
    margin: 0 auto;
}

main > .container {
    max-width: 680px;
}

header {
    box-shadow: var(--shadow);
}

header > .container,
footer > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer > .container {
    text-align: center;
    flex-direction: column-reverse;
}

footer {
    background-color: var(--darken);
    color: var(--lighten);
    margin-top: 20px;
}

footer > .container > .copy {
    margin-top: 10px;
}

.container .logo {
    display: flex;
    align-items: center;
}

.container .logo .icon svg {
    width: 45px;
}

.container .logo .brand {
    font-size: 30px;
    font-weight: 100;
    margin-left: 16px;
}

@media (min-width: 1024px) {
    .container {
        padding: 0 64px;
    }

    header > .container,
    footer > .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer > .container {
        text-align: left;
        flex-direction: row;
    }

    footer > .container > .copy {
        margin-top: 0;
    }
}
